.page {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.top {
		background-color: #73beff;
		padding: 10px;
		display: flex;
		align-items: center;
	}

	.user-img {
		width: 140upx;
		height: 140upx;
	}

	.user-msg {
		color: #fff;
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 12px;
		flex-grow: 1;
	}

	.go-icon {
		width: 24px;
		height: 24px;
	}

	.tab-row {
		display: flex;
		justify-content: space-around;
		border-bottom: 1px solid #f4f4f4;
		padding-bottom: 6px;
	}

	.tab-item {
		padding: 10px 0;
		transition: color 0.3s;
	}

	.tab-item-active {
		color: #3190e8;
		border-bottom: 2px solid #3190e8;
	}

	.content-wrap {
		flex-grow: 1;
		height: 0;

	}

	.commodity {
		height: 100%;
		display: flex;
		justify-content: flex-start;
	}

	.left-menu {
		height: 100%;
		width: 200upx;
	}

	.left-menu-text {
		height: 80px;
		background-color: #f4f4f4;
		display: flex;
		align-items: center;
	}

	.left-menu-text>text {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.left-menu-active {
		background-color: #fff;
	}

	.menu-dir {
		width: 4px;
		height: 100%;
		margin-right: 10px;
		background-color: transparent;
	}

	.active-menu-dir {
		background-color: #3190e8;
	}
	.right-commodity{
		flex-grow: 1;
		width: 550upx;
	}
	.title-row {
		background-color: #f4f4f4;
		padding: 10px 0;
	}

	.title {
		font-size: 18px;
		font-weight: bold;
		color: #747474;
		margin: 10px;
	}

	.description {
		color: #999;
		font-size: 12px;
	}

	.commodity-item {
		display: flex;
		padding: 10px;
	}
	.commodity-image {
		width: 140upx;
		height: 140upx;
		flex-shrink: 0;
	}
	.commodity-msg{
		flex-grow: 1;
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 180upx;
	}
	.msg-row{
		font-size: 24upx;
	}
	.commodity-title-row{
		display: flex;
		justify-content: space-between;
	}
	.title-box{
		width: 260upx;
		flex-grow: 1;
		word-break: break-all;
		line-break: anywhere;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-weight: bold;
		font-size: 36upx;
	}
	.tag-wrap{
		flex-shrink: 0;
		display: flex;
	}
	.tag{
		border-radius:20px;
		font-size: 20upx;
		padding: 0px 2px;
		border-radius: 20px;
		margin-left: 10upx;
	}
	.commodity-description{
		color: #999;
	}
	.active{
		border-radius: 20px;
		padding: 0 4px;
	}
	.price-row{
		display: flex;
		justify-content: space-between;
	}
	.price-text{
		font-size: 36upx;
		color: #f60;
		font-weight: bold;
	}
	.add-btn{
		color: #fff;
		height: 40upx;
		line-height: 40upx;
		border-radius: 20upx;
		background-color: #3190e8;
	}
	.add-one{
		width: 40upx;
		text-align: center;
	}
	.add-more{
		font-size: 24upx;
		padding: 0 10upx;
	}